

<h2><strong>Editing Book</strong></h2>

<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
   <%= @book.errors.count %>件のerrorが発生しました<ul>
    <% @book.errors.full_messages.each do |message| %>
     <li><%= message %></li>
    <% end %>
   <% end %>
 <% end %>
 </ul>

<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>

  <h5>本のタイトル</h5>
  <%= f.text_field :title %>
  
  <h5>感想</h5>
  <%= f.text_area :body %>
  <br>
  <%= f.submit 'Update Book' %>
  <br>
  <%= link_to "Show", @book %> | 
  <a href="/books">Back</a>
  
  
<% end %>
